.List {
    margin-top: -900px;
    color: white;
    text-align: center;
    list-style-type: none;
    color: yellow;
}
.Char {
    font-size: 19px;
    text-align: center;
}

.Image {
background-size: cover;
margin-bottom: -30px;


}



.unstyled {
    list-style-type: none;
    color: yellow;
    font-size: 9px;
}